<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1Container" connectionString="metadata=res://*/CarService.csdl|res://*/CarService.ssdl|res://*/CarService.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=CarService;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>